.dashboard {
  /* height: 100%; */
  /* width: 100vw; */
  padding: 40px 0;
  width: 90%;
  max-width: 800px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* background-color: #f6f6f6; */
}

.mainWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem 0;
  /* background: white; */
  /* max-width: 40rem; */
  /* margin: auto; */
}

.subHeadingWrapper {
  display: flex;
  justify-content: space-between;
  align-items: top;
}

.weekNavWrapper {
  background: white;
  border-radius: 0.75rem;
  margin-top: 2rem;
}

.overviewWrapper {
  flex: 1 1 100%;
  /* height: 100%; */
  /* width: 90%; */
  max-width: none;
  /* margin: 2rem 0; */
}

.overview {
  background: white;
  border-radius: 0.75rem;
  padding: 1rem;
}

.insightsWrapper {
  flex: 1 1 80%;
  min-width: 15rem;
}

.insights {
  padding: 2rem;
  background: white;
  border-radius: 0.75rem;
}

.signoutButtonWrapper {
  /* background-color: var(--green); */
  text-align: center;
  border-radius: 0.5rem;
}

.subHeading {
  font-size: 1.125rem;
  font-weight: 600;
  margin-top: 0;
}

.editMemoButton {
  cursor: pointer;
  color: var(--green);
  border: none;
  margin: 0;
  font-weight: 400;
  font-size: 1rem;
}

.editMemoButton:hover {
  color: var(--green-shade);
}

.note {
  margin-top: 1rem;
}

.noteWrapper {
  background: white;
  border-radius: 0.75rem;
  padding: 1rem;
}

.emailButtons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (min-width: 720px) {
  .dashboard {
    padding: 100px 0;
  }

  .mainWrapper {
    flex-direction: row;
    gap: 2rem;
  }

  .overviewWrapper {
    max-width: 25rem;
  }

  .HeadWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .weekNavWrapper {
    margin-top: 0;
  }

  .emailButtons {
    flex-direction: row;
    gap: 2rem;
  }
}
