.overview {
  width: 100%;
}

.overviewTitle {
  font-size: 1rem;
  display: inline-block;
  padding-bottom: 0.5rem;
  /* margin: 0.2rem; */
  font-weight: 300;
  margin: 0;
}

.totalHours {
  font-size: 1rem;
  font-weight: 500;
  display: inline-block;
  margin: 0;
}

.hourCount {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.hourCount > h2 {
  align-self: flex-end;
}

.diffLabel {
  font-size: 0.8rem;
  display: inline-block;
  margin: 0.1em 0;
  font-weight: 400;
}

.chart {
  /* min-width: 25rem; */
  width: 100%;
  height: 20rem;
  margin: auto;
}

.positive {
  color: var(--green);
}

.negative {
  color: red;
}

.error {
  text-align: center;
  color: grey;
}

.chartWrapper {
  margin: auto;
}
