/* .insights {
  padding: 2rem;
  background: white;
  border-radius: 0.75rem;
} */

.insights > ul {
  padding-left: 1rem;
  line-height: 1.5rem;
  margin: 0;
}

.insights > ul > li:not(:last-child) {
  margin-bottom: 1rem;
}
