.button {
  /* width: 100%; */
  /* padding: 2rem; */
  /* background: var(--green); */
  cursor: pointer;
  color: var(--green);
  border: none;
  margin: 0;
  font-weight: 400;
  font-size: 1rem;
}

.button:hover {
  color: var(--green-shade);
}
