.logData {
  margin: 10rem auto 0 auto;
  max-width: 40rem;
}

.dateWrapper {
  margin: 2rem auto;
  text-align: center;
}

.date {
  margin: 0;
  text-align: center;
}

.entries {
  width: 60%;
  margin: auto;
}

.buttonWrapper {
  font-size: 0.9rem;
  width: 10rem;
  margin: auto;
  margin-top: 3rem;
  text-align: center;
}

.inputWrapper {
  font-size: 2rem;
  width: 18rem;
  margin: auto;
}

.inputMarginControl {
  margin-left: 1rem;
}
