.memoBackdrop {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: var(--green);
  color: white;
  margin: 0;
  position: fixed;
}

.addMemo {
  width: 90%;
  max-width: 40rem;
  margin: 5rem auto;
}

.addMemo > h1 {
  margin: 0;
}

.prompts {
  padding: 1rem;
}

.prompts > li {
  margin: 0.5em 0;
}

.textarea {
  resize: none;
  width: 100%;
  border: none;
  height: 20rem;
  padding: 1rem;
  font-size: 1rem;
  font: inherit;
}

.buttonWrapper {
  font-weight: bold;
  text-align: right;
}
