:root {
  --green: #63ca6e;
  --green-shade: #72e87e;
  --green-highlight: #489650;
  --blue: #3366ff;
  --blue-shade: #3f66db;
  --blue-highlight: #577ff6;
  --orange: #ffa800;
  --orange-shade: #ff9900;
  --orange-highlight: #f8ba1b;
  --red: #ff4d00;
  --red-shade: #e94b07;
  --red-highlight: #fc512c;
  --grey: #7c7c7c;
  --grey-shade: #595959;
  --grey-highlight: #8c8c8c;
  --black: #0b0b0b;
  --black-shade: #000000;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Open Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
